@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}



.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}



.fixed {
  bottom: 0; /* Растягиваем меню до самого низа */
}
  .upgrade-notification {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: #00ff6a; /* Светло-желтый цвет текста */
    padding: 1px;
    font-size: 14px; /* Увеличенный размер текста */
    transition: top 0.2s ease-out, opacity 2s ease-out;
    opacity: 0;
    white-space: nowrap; /* Предотвращаем перенос текста на новую строку */

  }
  
  .upgrade-notification.visible {
    top: 15px;
    opacity: 1;
  }

  .fixed-bottom-menu {
    position: fixed;
    bottom: 80px; /* Расстояние от нижней навигационной панели */
    left: 50%;
    transform: translateX(-50%);
    background-color: #374151; /* Темно-серый */
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 40;
  }
  
  .fixed-bottom-menu p {
    margin-bottom: 10px;
  }
  
  .fixed-bottom-menu button {
    transition: background-color 0.3s;
  }
  
  .fixed-bottom-menu button:disabled {
    background-color: #fcd34d; /* Более светлый желтый для неактивной кнопки */
    cursor: not-allowed;
  }
